@{
    ViewData["Title"] = "Home Page";
}
<div class="head">
    <h1>John Paul Rodrin</h1>
    <h2>BSIT-32E1</h2>
    <img src="ako.png" alt="me" class="myphoto" />
</div>

<div class="intro">
    <p>I am a dedicated and motivated individual with a passion for continuous learning and growth. With a strong background in [mention relevant field or experience], I thrive in dynamic environments where I can apply my skills and creativity. I am committed to achieving excellence in all endeavors and strive to make a positive impact through my work. </p>
</div>

<style>
    .intro {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: Black;
    }

    body {
        background: url(background.jpg);
    }

    .head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: black;
    }

    .myphoto {
        border-radius: 50%;
        width: 200px;
    }
</style>