@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="sched">
    <h1>Our Schedule in IT Elective 3 (Full Stack)</h1>
    <img src="~/sched.jpg" alt="sched" class="photo" />
</div>

<style>
    .sched {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: Center;
        color: Black;
    }
</style>